@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    background-color: #ECF7F9;
}
@theme {
    --color-blue_50: #ECF7F9;
    --color-blue_100: #D8EFF3;
    --color-blue_200: #B2DFE6;
    --color-blue_300: #8BCFDA;
    --color-blue_400: #64BECE;
    --color-blue_950: #0C2327;
}